<footer class=" text-center text-lg-start text-muted">
  <!-- Section: Social media -->
  <section class="px-4 pt-3 border-top border-dark d-flex justify-content-between">
    <!-- Left -->
    <div class="d-inline-block">
      <p>Connect with us:</p>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="d-inline-block me-auto">
      <a href="https://www.facebook.com/zuck/" class="btn fab fa-facebook" target="_blank"></a>
      <a href="https://twitter.com/elonmusk" class="btn fab fa-twitter" target="_blank"></a>
      <a href="https://www.instagram.com/cristiano/?hl=en" class="btn fab fa-instagram" target="_blank"></a>
      <a href="https://www.linkedin.com/in/ashneer/?originalSubdomain=in" class="btn fab fa-linkedin" target="_blank"></a>
      <a href="https://github.com/Dv04/VirtHack" class="btn fab fa-github" target="_blank"></a>
    </div>
    <div class="d-inline-block">
      <span style="font-weight: bold">© 2023 Copyright: 0xAI</span>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->
</footer>