{% extends 'Base.html' %} 

{% block extrafiles %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock extrafiles %} {% block content %}
<div class="container mx-auto">
  <h1 class="title">Directorate of Higher Education Alumni Network</h1>
  <div class="content-index">
    <p>
      The Directorate of Higher Education presents a unified platform for our
      alumni. Here, you can reconnect with your cohorts, update your details,
      and stay connected with our colleges. Register today and be a part of our
      growing network.
    </p>
    <div>
      <a class="btn register" href="{{ url_for('register_page') }}">Register</a>
      <a class="btn login" href="{{ url_for('login_page') }}">Login</a>
    </div>
  </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner d-block mx-auto container">
    <div class="carousel-item active">
      <img src="https://via.placeholder.com/300x300" class="d-block" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1689164750404-f9db7b564e60?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" class="d-block" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="https://via.placeholder.com/200x200" class="d-block" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  
</div>
{% endblock content %}
