{% extends 'Base.html' %} {% import "bootstrap/wtf.html" as wtf %} {% block
extrafiles %}

<link rel="stylesheet" href="/static/css/register.css" />

{% endblock extrafiles %} {% block content %}
<div class="register_form_select">
  <input type="radio" name="formType" id="form1" checked />
  <label class="input" for="form1">Alumni</label>

  <input type="radio" name="formType" id="form2" />
  <label class="input" for="form2">University</label>

  <input type="radio" name="formType" id="form3" />
  <label class="input" for="form3">Directorate</label>

  <div id="form1-content" class="col-lg-8 col-md-10 mb-5 mx-auto form-content">
    <h2>Alumni Registration</h2>
    {{ wtf.quick_form(reg_form, novalidate=True, button_map={"submit":
    "primary"}) }}
    <p class="d-flex justify-content-center mt-1">Already Registered? <a href="{{ url_for('login_page') }}">Sign In</a></p>
  </div>
  <div id="form2-content" class="col-lg-8 col-md-10 mb-5 mx-auto form-content">
    <h2>University Registration</h2>
    {{ wtf.quick_form(uni_form, novalidate=True, button_map={"submit":
    "primary"}) }}
    <p class="d-flex justify-content-center mt-1">Already Registered? <a href="{{ url_for('login_page') }}">Sign In</a></p>
  </div>
  <div id="form3-content" class="col-lg-8 col-md-10 mb-5 mx-auto form-content">
    <h2>Directorate Registration</h2>
    {{ wtf.quick_form(dir_form, novalidate=True, button_map={"submit":
    "primary"}) }}
    <p class="d-flex justify-content-center mt-1">Already Registered? <a href="{{ url_for('login_page') }}">Sign In</a></p>
</div>
</div>

{% endblock content %}
