{% extends 'Base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block extrafiles %}
<link rel="stylesheet" href="/static/css/university.css" />
{% endblock extrafiles %}

{% block content %}
<div class="container">
  
  <h2>University Details</h2>
  <div class="user-details details">
    <label for="uni_name">University Name:</label>
    <span id="name">{{ user.name }}</span>
  </div>
  <div class="user-details">
    <label for="uni_email">Email:</label>
    <span id="email">{{ user.email }}</span>
  </div>
  <div class="user-details">
    <label for="uni_pass">Password:</label>
    <span id="email">******</span>
  </div>
</div>

{% endblock content %}
