{% extends 'Base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block extrafiles %}

<link rel="stylesheet" href="/static/css/update.css" />

{% endblock extrafiles %}

{% block content %}
<div class="container">
  <h2>Update Details</h2>
  <div class="user-details">
    <label for="name">Name:</label>
    <span id="name">{{ user.name }}</span>
  </div>
  <div class="user-details">
    <label for="email">Email:</label>
    <span id="email">{{ user.email }}</span>
  </div>
  <div class="user-details">
    <label for="college">College:</label>
    <span id="college">{{ user.college }}</span>
  </div>
  <div class="user-details">
    <label for="year">Year of Graduation:</label>
    <span id="year">{{ user.grad_year }}</span>
  </div>
</div>
<div class="container">
  <div class="col-lg-8 col-md-10 mb-5 mx-auto">
    <h3>Update Details</h3>
    {{ wtf.quick_form(update_form, novalidate=True, button_map={"submit": "primary"})
    }}
  </div>
</div>
{% endblock content %}
